
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv3tHYZPdkovYKeXksUPv9tktWR0gOQxAx6cTB9I3P3Zci4xLkVD9kP90XyL-4KLDlnKk:https://images.pexels.com/photos/1146708/pexels-photo-1146708.jpeg%3Fcs%3Dsrgb%26dl%3Dpexels-johannes-plenio-1146708.jpg%26fm%3Djpg&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}


body {
    font-family: Arial, sans-serif;
}

#ifme{
    height: 80%;
    width: 100%;
}

.chat-window {
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
    margin: 50px auto;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
}

.exit_button{
    background-color: lightcoral;
    color: white;
    width: 10px;
}

#computer-message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

#user-input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#send-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #3e8e41;
}



#ifme{
    width: 100%;
    height: 90%;
    resize: both;
    min-height: 200px;
  max-height: 800px;
}

.window {
  position: absolute;
  background-color: #c2c2c2;
  width: 400px;
  min-height: 200px;
  max-height: 800px;
  border: 2px solid #000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  resize: both;
  overflow-y: scroll;
  overflow-x: scroll;
  z-index: 1;
}

textarea{
   width: 100%;
   height: 80%;
}

.window-title{
    z-index: 999;
}

.window-main{
    overflow: scroll;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #333;
  border-top-color: #999;
  animation: spin 1s infinite linear;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contaner{
    overflow: scroll;
}
.window-title {
  background-color: #017acd;
  padding: 8px;
  color: #fff;
  cursor: move;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.window-content {
  padding: 8px;
  min-height: 150px;
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #1c1c1c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.start-button {
  width: 40px;
  height: 40px;
  background-color: #1c1c1c;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button:hover {
  background-color: #555;
}

.start-button img {
  width: 20px;
  height: 20px;
}

.start-menu {
  position: absolute;
  top: 40px;
  left: 0;
  width: 200px;
  background-color: #1c1c1c;
  color: white;
  border: 1px solid #555;
  padding: 10px;
  display: none;
}

.start-menu.active {
  display: block;
}

#cmd{
    color: white;
}

#cmdline{
    color: white;
    background-color: black;
    border-color: black;
}

#iframe{
    overflow: auto;
    width: 50px;
}

#clock{
   right: 0px;
   position: fixed;
   width: 100px;
   z-index: 9999;
}

.context-menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      padding: 5px;
    }
